
.header_class_container{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content: center;
    align-items: center;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header_heading_text{
    text-align: center;
    font-size:20px;
}


@media screen and (min-width:768px){
    .header_heading_text{
        text-align: center;
        font-size: 32px;
    }
}